.header {
    padding: 15px;
    background: linear-gradient(140deg, rgb(40, 51, 63) 0%, rgba(87,101,116,1) 100%);
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    width: 100%;
}


.header__container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__right {
    display: flex;
}

.header__link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    
}

.header__link:hover {
    background-color: #ecf0f157;
}

.header__icon {
    margin-right: 7px;
}