.card {
    display: flex;
    flex-direction: column;
    background-color: #40739e;
    /* align-items: center; */
    justify-content: center;
    width: 350px;
    height: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.mid-row {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: space-between;
    font-weight: bold;
    width: 100%;
}

.down-row {
    width: 100%;
}

.goal-text {
    font-weight: 500;
    font-size: 20px;
    color: #ff7979;
}

